@media screen and (max-width: 1200px) {
  .menu-header {
    width: 100%;
  }
  .menu-header .nav-menu {
    display: none;
  }
  .picture-card {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  h3 {
    font-size: 2.2rem;
  }
  .container {
    margin: 0 auto;
  }
  .reviews img {
    width: 90%;
  }
  .home-left__title {
    font-size: 4rem;
  }
  .home-left__par {
    font-size: 1rem;
  }
  .home-right {
    display: none;
  }
  .home-left .btn-wr {
    margin-bottom: 100px;
  }
  .basic {
    display: flex;
    flex-direction: column;
  }
  .basic .basic-text {
    width: 100%;
    max-width: 1100px;
  }
  .all-card {
    display: flex;
    flex-direction: column;
  }
  .adv-text {
    display: flex;
    flex-direction: column;
  }
  .number-adv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .number-adv .card-adv {
    grid-column: span 6;
  }
  .news .card-wrapper {
    display: flex;
    flex-direction: column;
  }
  .grid-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-card .card_hover {
    grid-column: span 6;
  }
  .wr-biz {
    display: flex;
    flex-direction: column;
  }
  .wr-biz__foto {
    display: none;
  }
  .big-num {
    font-size: 13rem;
    top: -150px;
  }
  .project .wr-form {
    gap: 20px;
  }
  .card-basic {
    top: 0;
    left: 0;
  }
  .card-basic img {
    width: 50%;
  }
  .card-inf {
    max-width: 100%;
  }
  .wr-bg__top img, .wr-bg__bt img {
    display: none;
  }
  .foto {
    display: none;
  }
  .home-btn {
    display: none;
  }
  .stages-title__arrow {
    display: none !important;
  }
}
@media screen and (max-width: 850px) {
  .stages-title {
    display: flex;
    flex-direction: column;
  }
  .inf {
    padding: 20px;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  .cases-card {
    gap: 20px;
  }
  .project {
    padding: 30px;
  }
  .project .wr-form {
    display: flex;
    flex-direction: column;
  }
  .reviews img {
    display: none;
  }
  .card-basic {
    position: relative;
  }
  .top-title {
    font-size: 2.5rem;
    width: 700px;
    margin-top: 0;
  }
  .home-picture__img {
    display: none;
  }
  .home-btn {
    position: relative;
  }
}
@media screen and (max-width: 772px) {
  .form-bt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 750px) {
  .grid-card {
    display: flex;
    flex-direction: column;
  }
  .grid-st {
    display: flex;
    flex-direction: column;
  }
  .big-num {
    display: none;
  }
  .bottom-ft {
    display: flex;
    flex-direction: column;
  }
  .bottom-ft .number-footer .number {
    font-size: 1.5rem;
  }
  .bottom-ft .number-footer p {
    font-size: 1rem;
  }
  .wrapper-btn {
    display: flex;
    flex-direction: column;
  }
  .faq__title {
    font-size: 1.5rem;
  }
  .faq__text {
    font-size: 1rem;
  }
  .wr-cases__result {
    display: none;
  }
  .wr-cases h3 {
    font-size: 1.2rem;
  }
  .card-adv span {
    font-size: 3rem;
  }
  .btn {
    padding: 7px;
  }
  .card-disc {
    font-size: 1.2rem;
  }
  .up-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  section {
    margin-bottom: 50px;
  }
  .number-st {
    padding: 10px;
  }
  .home-left__title {
    font-size: 3.5rem;
  }
  .top-title {
    font-size: 2rem;
    width: 400px;
  }
  .home-right img {
    display: none;
  }
  .menu-header {
    padding: 0;
    gap: 20px;
  }
  .all-serv {
    display: flex;
    flex-direction: column;
  }
  .link-disc {
    display: none;
  }
  .foto img {
    display: none;
  }
  .card-text__name {
    font-size: 1.2rem;
  }
  .all-card-lic img {
    width: 70%;
  }
  .home-ser {
    margin-bottom: 50px;
  }
  .home-ser .home-ser-title__pr {
    max-width: 450px;
  }
  .profit {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .up-title {
    font-size: 2rem;
  }
  .button-tel__number a {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  .right-number .el-text a {
    font-size: 1.2rem;
  }
  .inf {
    padding: 30px;
    width: 100%;
  }
}/*# sourceMappingURL=media.css.map */