@font-face {
    font-family: 'cygre';
    src: url("../cygre_default/Cygre-Light.ttf");
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'cygre';
    font-size: 16px;
}

a.active, a {
    text-decoration: none;
    outline: none;
}


:root {
    --color-number: linear-gradient(117.4deg, #181919 40.27%, #205ADD 105%);
    --color-bt: linear-gradient(272.85deg, #181919 -6.44%, #205ADD 111.44%);
    --primary-color: linear-gradient(301.05deg, #181919 5.87%, #205ADD 91.47%);
    --text-color: rgba(0, 0, 0, 1);
    --size-h2: 4rem;
    --size-h3: 2.25rem;
    --bg-basic: rgba(244, 244, 244, 1);
    --color-wh: rgba(255, 255, 255, 1);
    --bg-dark: rgba(24, 25, 25, 1);
    --bg-header: rgba(255, 255, 255, 0.8);
}

body {
    background: var(--bg-basic);
}

h2 {
    font-size: var(--size-h2);
    color: var(--text-color);
    text-align: left;
    font-weight: 500;
    margin-bottom: 60px;
}

h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;

}

header {
    height: 73px;
    width: 100%;
    background: var(--bg-header);
    border-radius: 20px;
    margin-bottom: 107px;
}

section {
    margin-bottom: 100px;
}

.card {
    border-radius: 20px;
    background: var(--color-wh);
    padding: 40px 20px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    gap: 160px;
    justify-content: space-between;
    padding: 10px;
    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 20px;
        a {
            font-size: 0.87rem;
            color: #000;
        }
    }
}

.button-tel {
    display: flex;
    flex-direction: row;
    gap: 13px;
    &__number {
        font-size: 0.87rem;
    }
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.home {
    display: flex;
    flex-direction: row;
}

.home-left {
    position: relative;
    &__title {
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 60px;
        line-height: 76px;
        span {
            font-weight: 600;
        }
    }
    &__par {
        margin-bottom: 80px;
        font-size: 1.5rem;
    }
}

.home-right {
    position: relative;
    .arrow {
        position: absolute;
        bottom: 200px;
        left: -40px;
    }
    .screw {
        position: absolute;
        bottom: 120px;
        right: 30px;
    }
}

.btn {
    font-family: 'cygre';
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--color-wh);
    border: none;
}

.square {
    padding: 20px;
}

.wr-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .link-disc {
        color: rgba(0, 0, 0, 1);
    }
}

.basic {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.basic-text {
    padding: 40px 20px;
    max-width: 426px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    &__title {
        font-size: var(--size-h3);
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__par {
        margin-bottom: 190px;
        font-size: 1.5rem;
    }
}

.width {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
}

.all-serv {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-column: span 8;
}


.link-serv {
    color: #000;
    grid-column: span 4;
    &__title {
        font-size: 2.25rem;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 1.5rem;
    }
}

.dark {
    h2 {
        color: var(--color-wh)
    }
    background: var(--bg-dark);
    border-radius: 20px;
}

.all-card {
display: flex;
flex-direction: row;
gap: 20px;
padding: 40px 35px;
    .all-card-lic {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

.card-text {
    margin: 0 auto;
    &__lic {
        font-size: 1.25rem;
        color: rgba(0, 0, 0, 1);
    }
}

.stages {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-st {
    width: 100%;
    max-width: 493px;
    &__title {
        margin-bottom: 22px;
    }

    &__text {
        font-size: 1.25rem;
        margin-bottom: 70px;
    }

    &__result {
        color: rgba(0, 0, 0, 1);
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
}

.form-crm {
    border-radius: 20px;
    background: var(--primary-color);
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.inf {
    h2 {
        color: var(--color-wh)
    }
    &__pr {
        color: var(--color-wh);
    }
}

.form-bt {
    border-radius: 20px;
    padding: 20px;
    background: var(--color-wh);
    &__line {
        margin-right: 20px;
    }
}

.foto {
    img {
        width: 500px;
        height: 300px;
    }
}